/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}


/* PAGE BACKGROUND */
body {
  font-family: "Segoe UI", Arial, sans-serif;

  /* Background image */
  background-image: url("./minimalistic-christmas-flat-lay_1220-4862.avif");
  background-size: cover;        /* fills screen */
  background-position: center;   /* center crop */
  background-repeat: no-repeat;

  /* Center card */
  display: grid;
  place-items: center;

  min-height: 100vh;
}



/* CENTER USING GRID */
.page {
  display: grid;
  place-items: center;
  height: 90%;
}

/* CARD */
.card {
  background: linear-gradient(180deg, #ffffff, #f7f9fc);
  width: 380px;
  padding: 32px;
  border-radius: 16px;

  display: grid;
  grid-template-rows: auto auto 1fr auto;
  row-gap: 22px;

  text-align: center;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
}

/* HEADER */
.card-header h1 {
  font-size: 30px;
  color: #1d2671;
  letter-spacing: 1px;
}

.tag {
  display: inline-block;
  background-color: #c33764;
  color: white;
  font-size: 11px;
  padding: 5px 12px;
  border-radius: 20px;
  margin-bottom: 10px;
}

/* YEAR */
.card-year span {
  font-size: 56px;
  font-weight: 700;
  color: #c33764;
}

/* MESSAGE */
.card-message p {
  font-size: 15px;
  color: #444;
  line-height: 1.7;
  padding: 0 5px;
}

/* FOOTER */
.card-footer p {
  font-size: 14px;
  color: #666;
}

.card-footer h3 {
  font-size: 16px;
  color: #1d2671;
  margin-top: 4px;
}
