body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  font-family: Arial, sans-serif;
}

.contact-section {
  background-color: white;
  padding: 40px;
  margin-top: 40px;
  text-align: center;
}

.contact-section h2 {
  margin-bottom: 15px;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 12px 30px;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 25px;
}


.menu a {
  color: white;
  text-decoration: none;
}

.menu a:hover {
  color: #f0a500;
}
.item {
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.item:hover {
  color: #f0a500;
}



.title {
  text-align: center;
  margin: 20px 0;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
}


.product-card {
  background-color: white;
  width: 220px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.product-card img {
  width: 100%;
  border-radius: 5px;
}

.product-card h3 {
  margin: 10px 0 5px;
}

.product-card p {
  margin: 5px 0;
  font-size: 14px;
}

.price {
  font-weight: bold;
  color: green;
  margin: 10px 0;
}

button {
  padding: 8px 12px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}

footer.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
}

/* COMMON SECTION STYLE */
.section {
  background-color: white;
  padding: 40px;
  margin: 40px 20px;
  text-align: center;
  border-radius: 8px;
}

/* NAVBAR LINKS */
.menu a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.menu a:hover {
  color: #f0a500;
}

/* SMOOTH SCROLL */
html {
  scroll-behavior: smooth;
}
