.container {
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
}

.card {
  width: 100%;          /* MOBILE */
  background: white;
  padding: 16px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


@media (min-width: 768px) {
  .card {
    width: 48%;         /* TABLET */
  }
}

@media (min-width: 1024px) {
  .card {
    width: 31%;         /* DESKTOP */
  }
}
