body {
  margin: 0;
  font-family: "Times New Roman", serif;
  background-color: #e5e5e5;
}

/* PAGE CONTAINER */
.page {
  max-width: 1100px;
  background-color: white;
  margin: 20px auto;
  padding: 20px;
}

/* HEADER */
.header {
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.header h1 {
  margin: 0;
  letter-spacing: 2px;
}

/* TOP SECTION */
.top-section {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-direction: column;
}

/* MAIN NEWS */
.main-news {
  flex: 2;
}

.main-news p {
  text-align: justify;
}

.main-news img {
  width: 50%;
  /* height: 50%; */
  align-self: center;
}

.main-news h2 {
  margin: 10px 0;
  font-size: 20px;
}

/* SIDE NEWS */
.side-news {
  flex: 1;
  font-size: 14px;
}

.side-news p {
  margin-bottom: 15px;
  text-align: justify;
}

/* DIVIDER */
hr {
  margin: 30px 0;
  border: 1px solid black;
}

/* BOTTOM SECTION */
.bottom-section {
  display: flex;
  gap: 20px;
}

.bottom-text {
  flex: 1;
}

.bottom-text h3 {
  margin-bottom: 10px;
}

.bottom-text p {
  text-align: justify;
  font-size: 14px;
}

.bottom-image {
  flex: 1;
}

.bottom-image img {
  width: 100%;
}
